a2/__pycache__/sgd.cpython-37.pyc
a2/__pycache__/word2vec.cpython-37.pyc
a2/utils/__pycache__/__init__.cpython-37.pyc
a2/utils/__pycache__/gradcheck.cpython-37.pyc
a2/utils/__pycache__/treebank.cpython-37.pyc
a2/utils/__pycache__/utils.cpython-37.pyc
a2/utils/datasets/stanfordSentimentTreebank/datasetSentences.txt
a2/utils/datasets/stanfordSentimentTreebank/datasetSplit.txt
a2/utils/datasets/stanfordSentimentTreebank/dictionary.txt
a2/utils/datasets/stanfordSentimentTreebank/original_rt_snippets.txt
a2/utils/datasets/stanfordSentimentTreebank/README.txt
a2/utils/datasets/stanfordSentimentTreebank/sentiment_labels.txt
a2/utils/datasets/stanfordSentimentTreebank/SOStr.txt
a2/utils/datasets/stanfordSentimentTreebank/STree.txt
a2/utils/__pycache__/__init__.cpython-37.pyc
a2/utils/__pycache__/gradcheck.cpython-37.pyc
a2/utils/__pycache__/utils.cpython-37.pyc
a2/a2.pdf
