a2/__pycache__/sgd.cpython-37.pyc
a2/__pycache__/word2vec.cpython-37.pyc
a2/utils/__pycache__/__init__.cpython-37.pyc
a2/utils/__pycache__/gradcheck.cpython-37.pyc
a2/utils/__pycache__/treebank.cpython-37.pyc
a2/utils/__pycache__/utils.cpython-37.pyc
a2/utils/datasets/stanfordSentimentTreebank/datasetSentences.txt
a2/utils/datasets/stanfordSentimentTreebank/datasetSplit.txt
a2/utils/datasets/stanfordSentimentTreebank/dictionary.txt
a2/utils/datasets/stanfordSentimentTreebank/original_rt_snippets.txt
a2/utils/datasets/stanfordSentimentTreebank/README.txt
a2/utils/datasets/stanfordSentimentTreebank/sentiment_labels.txt
a2/utils/datasets/stanfordSentimentTreebank/SOStr.txt
a2/utils/datasets/stanfordSentimentTreebank/STree.txt
a2/utils/__pycache__/__init__.cpython-37.pyc
a2/utils/__pycache__/gradcheck.cpython-37.pyc
a2/utils/__pycache__/utils.cpython-37.pyc
a2/a2.pdf
PPT/
a3/utils
a4/en_es_data/dev.en
a4/en_es_data/dev.es
a4/en_es_data/test.en
a4/en_es_data/test.es
a4/en_es_data/train.en
a4/en_es_data/train.es
a4/sanity_check_en_es_data
a4/__pycache__/model_embeddings.cpython-35.pyc
a4/__pycache__/nmt_model.cpython-35.pyc
a4/__pycache__/utils.cpython-35.pyc
a4/__pycache__/vocab.cpython-35.pyc
a4/.vscode/settings.json
a4/vocab.json
